{% extends "base.html" %}

{% block content %}

<div class="cameras_container">
    {% for camera in cameras %}
        <div>
            <h2><a href='/cameras/{{camera.id}}' class="camera_name_box">{{camera.make.name}} {{camera.name}}</a></h2>
            <hr>
            <p><b>Type :</b> {{camera.type}} 
            <p><b>Description:</b> {{camera.description}}</p> 
            <p><b>ID:</b> {{camera.id}}</p>
            <p><b>Buying Price:</b> £{{camera.buy_price}}</p>
            <p><b>Selling Price:</b> £{{camera.sell_price}}</p>
            <p><b>Stock Count:</b> <i {% if camera.stock > 6 %}
                class="stock_count_green" {% elif camera.stock <= 3 %} class="stock_count_red" {% elif camera.stock > 3 and camera.stock < 6 %} class="stock_count_yellow" {% endif %}> {{camera.stock}}</i></p>
        </div>
    {% endfor %}
</div>

{% endblock %}