

.new_form_container {
    text-align: center;
    font-family: Bebas Neue, sans-serif;
    font-size: 25px;
    height: 650px;
    background-color: #BFC0C0;
    color: #2D3142;
    margin-bottom: 0;
}

.new_form_container input {
    size: 20px;
}