.header_container {
    background-color: #2D3142;
    color: #BFC0C0;
    width: 100%;
    padding: 5px;
}

.header_container {
    text-align: center;
    display: flex;
}

.header_container > h1 {
    margin-left: 165px;
    text-align: center;
    font-family: Bebas Neue, sans-serif;
}

.navigation > ul {
    margin-top: 32px;
    list-style: none;
    display: flex;
}

.navigation > ul > li {
    margin-right: 10px;
    font-size: 20px;
}

.navigation > ul > li > a {
    color: #BFC0C0;
    text-decoration: none;
    font-family: Bebas Neue, sans-serif;
}

.navigation > ul > li > a:hover {
    color: #EF8354;
}