
.cameras_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px 20px;
    margin-top: 25px;
    font-family: Bebas Neue, sans-serif;
}

.cameras_container > div h2 a:hover {
    color: #EF8354;
} 

.cameras_container > div {
    background-color: #4F5D75;
    border-radius: 20px;  
    border: 3px solid #2D3142;
}

.cameras_container > div > h2  {
    text-align: center;
}

.cameras_container > div > h2 > a {
    color: #EF8354;
    font-size: 20px;
    text-decoration: none;
}

.cameras_container div p b {
    padding-left: 10px;
    color: #BFC0C0;
}

.cameras_container div p {
    color: #BFC0C0;
}

.cameras_container div p a{
    color: #BFC0C0;
}

.cameras_container div p a:hover {
    color: #EF8354;
}

.filter_options_container > h2 {
    text-align: center;
    font-display: flex;
    justify-content: space-between;
}