.makes_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px 20px;
    margin-top: 25px;
    font-family: Bebas Neue, sans-serif;
}

.makes_container div {
    text-align: center;
    background-color: #4F5D75;
    border-radius: 20px;  
    border: 1px solid #BFC0C0;
}

.makes_container div a {
    text-decoration: none;
    color: #BFC0C0;
}

.makes_container div h3 a {
    border: 3px solid #2D3142 ;
    background-color: #BFC0C0;
    padding: 5px;
    border-radius: 10px;
    color: #2D3142;
}