
.stock_count_yellow {
    color: yellow;
}

.stock_count_green {
    color: green;
}

.stock_count_red {
    color: red;
}

body {
    margin: 0;
    background-color: #2D3142;
    color: #BFC0C0;
    height: 100%;
}